* {
  box-sizing: border-box;
}

.tags-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.tags-list li {
  font-size: 1.2rem;
  list-style-type: none;
  display: inline-block;
  color: white;
  background-color: rgb(36, 36, 36);
  padding: 0 0.5rem;
  border-radius: 12%;
  margin: 0.3rem 0.2rem;
}
