<header class="index-view">
  <h1>Devexandria</h1>
</header>

<main id="index-main">
  <input type="text" class="devex-large"
    placeholder="Search the library">
  {{tags-list tags=model.tags}}
</main>

<footer class="index-view">
  <p>copyright jordan storz</p>
</footer>
